.login{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/background_banner.jpg);
    mask-image: linear-gradient(to right,transparent,black 35%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 35%);
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
    margin: 10px;
}
.login-form{
    max-width: 450px;
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 60px;
    border-radius: 4px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    padding: 8px 5%;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(246, 246, 246, 0.8);
    height: 50px;
    margin: 5px;
    border: 0;
    border-radius: 4px;
    outline: 0;
}
.login-forminput::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    background-color: #e50914;
    border: 0;
    width: 100%;
    height: 50px;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    margin:20px 5px 5px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: rgba(246, 246, 246, 0.8);
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 15px;
}
.form-switch{
    margin: 15px;
    padding-top: 10px;
    width: 100%;
}
.form-switch p{
    color: #737373;
    font-size: 14px;
}
.form-switch span{
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
@media(max-width:500px){
    .login{
        padding: 15px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-form{
        padding: 20px;
        /* margin-top: 30px; */
    }
}