.hero{
    position: relative;
}
.banner_img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -weblit-mask-image: linear-gradient(to right,transparent,black 75%);
}
.hero-caption{
    position: absolute;
    bottom: 0;
    padding-left: 6%;
    width: 100%;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.btn a{
    text-decoration: none;
}
.btn img{
    width: 25px;
}
.btn{
    border: 0;
    outline: 0;
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}
.hero-btns .btn:hover{
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}

@media (max-width:1024px){
    .hero .titlecards{
        display: none;
    }
    .hero-btns{
        padding-left: 4%;
        margin-bottom: 30px;
    }
}

@media (max-width:800px){
    .hero-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }.hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}

@media (max-width:500px){
    .caption-img{
        display: none;
    }
    .hero-caption p{
        display: none;
    }.btn img{
        width: 15px;
    }
    .btn{
        padding: 4px 20px;
        gap: 5px;
        font-size: 10px;
    }
}