.navbar{
    width: 100%;
    padding: 10px 6% 10px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background: linear-gradient(180deg,rgba(0,0,0,0.5)) 10%;
    /* background-image: linear-gradient(180deg,rgba(0,0,0,0.7)) 10%; */
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;    
}
.navbar-left img{
    width: 90px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-profile{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
}
.dropdown{
    position: absolute;
    top: 100%;
    width: max-content;
    text-decoration: underline;
    cursor: pointer;
    right: 0;
    z-index: 1;
    display: none;
}
.navbar-profile:hover .dropdown{
    display: block;
}

@media (max-width:800px){
    .navbar{
        padding: 15px;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar img{
        height: 25px;
    }
}
@media (max-width:500px){
    .navbar img{
        height: 20px;
    }
    .navbar-right{
        gap: 10px;
    }
}