.titlecards{
    margin-top: 50px;
    margin-bottom: 50px;
}
.titlecards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap:10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.card-list .card{
    position: relative;
}
.card-list .card p{
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.6);
    bottom: 10px;
    color: white;
    border-radius: 4px;
    padding: 8px 4px;
    font-size: 14px;
    right: 10px;
}
.card-list .card:hover p{
    display:block;
}

@media (max-width:800px){
    .titlecards{
        margin-top: 20px;
        margin-bottom: 0;
        
    }
    .titlecards h2{
        font-size: 20px;
    }
    .card-list img{
        width: 200px;
    }.card-list p{
        font-size: 12px;
    }
}
@media (max-width:500px){
    .titlecards h2{
        font-size: 15px;
    }
    .card-list img{
        width: 160px;
    }.card-list p{
        font-size: 10px;
    }
}